span {
    color: #ff20a2;
    font-weight: 300;
}

p {
    font-style: italic;
    font-family: 'Lucida Sans';
    border-style :  solid ;
    border-color: red;
    border-width: 0px  ;
    border-radius: 20px  ;
    box-shadow:  0px 0px 0px 2px red;
    margin : 20px 0px 10px 30px;
    padding: 30px;
    text-shadow: -2px 2px 2px  blue;
    width: 30%;
    display: inline-block;
}

#sticky-test{
    position: sticky;
    top: 70vh;
}

div {
    /* border : 1px dashed blue */
}

ol {
    border: 2px solid orangered;
}

#paragraph-container{
    background-color: rgb(212, 178, 245);
    display: block;
}

.test-span{
    background-color: blue;
    display: none;
}

.text-italic{
    font-style: italic;
    position: fixed;
    top: 50vh;
    left: 100px;
}


#test-id{
    background-color: chocolate;
}


.square-container{
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    overflow: visible;
    flex-wrap: nowrap;
}

.square-container2{
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    overflow: visible;
    flex-wrap: wrap;
}

.square-container3{
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    border : 1px solid #da2a90;
    display: grid;
    aspect-ratio: 1.2;
    /* grid-template-columns: auto auto auto; */
    grid-template-areas: "header header header header header"
    "left-sidebar post post ... right-sidebar"
    "left-sidebar post post ... right-sidebar"
    "left-sidebar post post ... ..."
    "left-sidebar post post ... ..."
    "footer footer footer footer footer";
    column-gap: 20px;
    row-gap: 20px;
}

.red-square{
    background-color: rgb(182, 182, 182);
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    /* flex-shrink: 0; */
    /* display: inline-block; */
}

.red-square2{
    background-color: red;
    width: 100%;
    /* height: 100px; */
    border-radius: 20px;
}